.contents-list
  .contents-list__cnt
    - if (genre.id == 1) 
      = link_to image_tag("#{hobby.image}", class: ("contents-list__cnt__factor")), genre_content_path(genre.id,hobby.id)
      .contents-list__cnt__title
        = "件名：#{hobby.title}"
    - elsif (genre.id == 2) 
      .contents-list__cnt__title
        .contents-list__cnt__title__no-smnl
          = link_to "曲名：#{hobby.title}", genre_content_path(genre.id,hobby.id), class:"contents-list__cnt__title__no-smnl-link"
        .contents-list__cnt__title__comment  
          上のタイトルをクリックして音楽を視聴する
    - else
      .contents-list__cnt__title
        .contents-list__cnt__title__no-smnl
          = link_to image_tag(hobby.illust.url(:thumb)), genre_content_path(genre.id,hobby.id), class:"contents-list__cnt__title__no-smnl-link"

  .contents-list__info
    .contents-list__author
      = "投稿者：#{hobby.user.name}"    
    -if user_signed_in?
      - if fav_list == 0
        マイリスト:未登録
      - else  
        マイリスト:登録済み  